<h2><b>Editing stock</b></h2>

<%= render 'form' %>

<ul class="pager">
  <li class="previous"><%= link_to 'Stocks', stocks_path %></li>
  <li class="previous"><%= link_to 'Show Stock', @stock %></li>
</ul>
