<h2><b>Inventory Control</b></h2>
<br>
<p class="lead">This example is a quick of inventory control in
  <abbr data-toggle="tooltip" data-placement="bottom" data-original-title="Ruby on Rails" class="initialism">
    <code>RoR</code></abbr>.</p>
<footer>Develop by <kbd>ICeHofman</kbd>.</footer>