<h2><b>Editing order</b></h2>

<%= render 'form' %>

<ul class="pager">
  <li class="previous"><%= link_to 'Orders', orders_path %></li>
  <li class="previous"><%= link_to 'Show Order', @order %></li>
</ul>

