<h1>Editing product</h1>

<%= render 'form' %>

<ul class="pager">
  <li class="previous"><%= link_to 'Products', products_path %></li>
  <li class="previous"><%= link_to 'Show Product', @product %></li>
</ul>
